Language: Cpp
BasedOnStyle: Google

ColumnLimit: 120
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
BreakBeforeBraces: Linux
#SeparateDefinitionBlocks: Always
